#box{
    margin:0;
    padding:0;
    position: relative;
    width:1400px;
    height:120px;
    background-color: yellow;
    margin:0px auto;
}

#child{
    position:absolute;
    top:0;
    right:0; 
    width: 111px;
    height: 120px;
    background-color:tomato;
}

#ch_box{
    position:fixed;
    bottom :8px;
    right: 10px;
    width: 300px;
    height: 120px;
    background-color:aqua;
}
#chh{
    width: 100px;
    height:150px ;
    background-color:blueviolet;
}